
header {
    background-color: #0000;
    text-align: center;
    border-bottom: 2px solid rgb(127, 14, 14) ;
}
header img{
    width: 80px;
}
/*  #img figli di header  */



main{
    background-image: url("../img/curriculum.jpeg");
    background-size: cover;
    background-attachment: fixed;
}

.selection-title { 
color:rgb(127, 14, 14);
font-size: 30px;
font-family:Arial, Helvetica, sans-serif;
}

.item h3 {
    font-style: italic;
    color: rgba(39, 80, 50, 0.5);
}

section {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

footer {
    background-color: #171717;
    color: beige;
    text-align: center;
    border-top: 6px solid rgb(45, 69, 46);
}


